@model BBKBootCamp.Models.Solicitante

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Concertar entrevista con un Solicitante</h2>

<h4>Solicitante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexoTipo" class="control-label"></label>
                <input asp-for="SexoTipo" class="form-control" />
                <span asp-validation-for="SexoTipo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Pregunta1" class="control-label"></label>
                <input asp-for="Pregunta1" class="form-control" />
                <span asp-validation-for="Pregunta1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregunta2" class="control-label"></label>
                <input asp-for="Pregunta2" class="form-control" />
                <span asp-validation-for="Pregunta2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregunta3" class="control-label"></label>
                <input asp-for="Pregunta3" class="form-control" />
                <span asp-validation-for="Pregunta3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregunta4" class="control-label"></label>
                <input asp-for="Pregunta4" class="form-control" />
                <span asp-validation-for="Pregunta4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregunta5" class="control-label"></label>
                <input asp-for="Pregunta5" class="form-control" />
                <span asp-validation-for="Pregunta5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pregunta6" class="control-label"></label>
                <input asp-for="Pregunta6" class="form-control" />
                <span asp-validation-for="Pregunta6" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <select asp-for="Proceso" class="dropdown">
                    <option value="En Espera">En Espera</option>
                    <option value="Entrevista Concertada">Entrevista Concertada</option>
                </select>
                <span asp-validation-for="Proceso" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Concertar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
