
@{
    ViewData["Title"] = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>!GRACIAS POR INSCRIBIRTE!</h1>




<h4>En breve recibiras una notificacion en tu correo electronico</h4>


